.mine-container {
  box-sizing: border-box;
  background-color: #F5F6F7;
  width: 100%;
  height: 100%;

  .bg {
    position: absolute;
    width: 1000rpx;
    height: 1000rpx;
    background-image: url('https://s3.bmp.ovh/imgs/2022/03/a3464291424dbfde.jpeg');
    background-size: cover;
    background-color: red;
    transform: translateY(-50%) rotate(90deg);
  }

  .mine-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
  }

  .mine-wrapper {
    position: absolute;
    top: 200rpx;
    width: 100%;
    box-sizing: border-box;

    .header-wrapper {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0 30rpx;

      .header-avatar {
        width: 155rpx;
        height: 155rpx;
        border-radius: 50%;
        border: 9rpx solid #ffffff;
      }

      .header-text {
        color: #ffffff;
        margin-left: 30rpx;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
      }
    }

    .tabs-wrapper {
      margin: 20rpx 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .tab-item {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        &:not(:last-child) {
          border-right: 3rpx solid #ffffff; 
        }

        .item-icon {
          background-size: cover;
          &.collect {
            background-image: url("data:image/svg+xml,%3Csvg t='1646904856676' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2044' width='200' height='200'%3E%3Cpath d='M509.606998 143.114488c9.082866 0 17.327644 4.840238 20.996197 12.331863l97.262184 197.441814c5.613858 11.403724 16.663518 19.358907 29.438473 21.216207l223.738737 32.552393c8.420787 1.215688 15.604396 6.851035 18.23327 14.254655 2.520403 7.18361 0.595564 15.062044-5.084808 20.586874L730.253304 601.611947c-8.949836 8.751315-12.994965 21.171182-10.916631 33.370015l38.011732 222.060515c1.325182 7.737218-2.165316 15.426341-8.905834 19.978007-4.088108 2.741437-8.861832 4.155646-13.812587 4.155646-4.022617 0-7.999185-0.972141-11.425214-2.740414L528.149307 775.671215c-5.768377-3.006474-12.155854-4.552689-18.542308-4.552689-6.364965 0-12.727882 1.547239-18.518772 4.552689L296.254819 878.348736c-3.559059 1.855254-7.602142 2.828418-11.668761 2.828418-4.861728 0-9.723455-1.459235-13.546527-4.022617-6.961552-4.684696-10.475586-12.419867-9.127891-20.155039l38.011732-222.016513c2.078335-12.198833-1.988284-24.619724-10.939143-33.370015L125.02397 441.443038c-5.635347-5.492084-7.55814-13.348006-5.061272-20.453844 2.63092-7.481392 9.812483-13.116739 18.298761-14.332427l223.674269-32.552393c12.839423-1.857301 23.867594-9.813506 29.481452-21.216207l97.194646-197.396789C492.325403 147.965983 500.590648 143.114488 509.606998 143.114488M509.606998 104.904235c-24.043602 0-45.922912 13.226233-56.177464 33.95637L356.189863 336.302419l-223.674269 32.54216c-22.983457 3.304256-42.100864 18.718317-49.481971 39.659255-7.381108 21.048385-1.812275 44.23241 14.431687 60.033281l163.916257 160.125931-38.011732 222.016513c-3.868097 22.408359 6.03239 44.819788 25.458835 57.94676 10.69662 7.116071 23.204491 10.784624 35.757388 10.784624 10.298554 0 20.663622-2.475378 30.055526-7.337105l194.987926-102.7205L704.662463 912.072815c9.369392 4.861728 19.712971 7.337105 29.990035 7.337105 12.57541 0 25.082258-3.668553 35.778878-10.784624 19.426445-13.126972 29.305443-35.538401 25.460882-57.94676l-38.012755-222.016513 163.937746-160.125931c16.22145-15.812127 21.810748-38.984896 14.408151-60.033281-7.402597-20.940938-26.51898-36.353976-49.503461-39.659255L663.04767 336.302419l-97.240695-197.441814C555.619962 118.131491 533.695626 104.904235 509.606998 104.904235L509.606998 104.904235z' p-id='2045' fill='%23FBEAE6'%3E%3C/path%3E%3C/svg%3E");
          }

          &.address {
            background-image: url("data:image/svg+xml,%3Csvg t='1646905945095' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3664' width='200' height='200'%3E%3Cpath d='M821.653333 633.813333L576.533333 917.333333a85.333333 85.333333 0 0 1-129.066666 0.064L198.634667 629.952c-1.152-1.322667-2.133333-2.773333-2.88-4.266667A361.088 361.088 0 0 1 149.333333 448c0-200.298667 162.368-362.666667 362.666667-362.666667s362.666667 162.368 362.666667 362.666667c0 63.744-16.490667 125.162667-47.381334 179.370667a21.269333 21.269333 0 0 1-5.632 6.421333zM792.32 602.453333A318.442667 318.442667 0 0 0 832 448c0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 55.317333 14.037333 108.522667 40.384 155.733333l247.317333 285.738667a42.666667 42.666667 0 0 0 64.554667-0.021333L792.32 602.453333zM512 597.333333a149.333333 149.333333 0 1 1 0-298.666666 149.333333 149.333333 0 0 1 0 298.666666z m0-42.666666a106.666667 106.666667 0 1 0 0-213.333334 106.666667 106.666667 0 0 0 0 213.333334z' p-id='3665' fill='%23FBEAE6'%3E%3C/path%3E%3C/svg%3E");
          }

          &.person {
            background-image: url("data:image/svg+xml,%3Csvg t='1646906022963' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='5546' width='200' height='200'%3E%3Cpath d='M877.373013 952.362426c-11.879562 0-21.537526-9.609869-21.537526-21.48943 0-91.825358-35.704177-178.166819-100.68412-243.09969-8.394181-8.394181-8.394181-22.032806-0.079818-30.426987 8.473999-8.394181 22.080901-8.394181 30.426987 0C858.569762 730.416522 898.814348 827.550793 898.814348 930.872996 898.814348 942.752558 889.252575 952.362426 877.373013 952.362426L877.373013 952.362426zM511.971859 587.042113c-91.873454 0-178.166819 35.767622-243.09969 100.732216-64.979944 64.931848-100.69947 151.273309-100.69947 243.09969 0 11.879562-9.561773 21.48943-21.441335 21.48943s-21.537526-9.609869-21.537526-21.48943c0-103.322204 40.212864-200.456475 113.331161-273.478582 72.990385-73.03848 170.108283-113.331161 273.446859-113.331161 11.879562 0 21.48943 9.609869 21.48943 21.48943S523.852444 587.042113 511.971859 587.042113L511.971859 587.042113zM512.004605 587.377758c-142.239562 0-257.873162-115.665323-257.873162-257.856789 0-142.159744 115.6336-257.873162 257.873162-257.873162 142.207839 0 257.873162 115.713418 257.873162 257.873162C769.877767 471.712435 654.211421 587.377758 512.004605 587.377758L512.004605 587.377758zM512.004605 114.626667c-118.479415 0-214.894302 96.414887-214.894302 214.894302 0 118.52751 96.414887 214.877929 214.894302 214.877929 118.447692 0 214.894302-96.350418 214.894302-214.877929C726.898907 211.041554 630.452297 114.626667 512.004605 114.626667L512.004605 114.626667z' p-id='5547' fill='%23FBEAE6'%3E%3C/path%3E%3C/svg%3E");
          }

          &.about {
            background-image: url("data:image/svg+xml,%3Csvg t='1646905984849' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='4623' width='200' height='200'%3E%3Cpath d='M512 465.454545c-12.846545 0-23.272727 10.426182-23.272727 23.272727l0 279.272727c0 12.846545 10.426182 23.272727 23.272727 23.272727 12.846545 0 23.272727-10.426182 23.272727-23.272727l0-279.272727C535.272727 475.880727 524.846545 465.454545 512 465.454545zM512 69.818182c-257.070545 0-465.454545 208.384-465.454545 465.454545 0 257.070545 208.384 465.454545 465.454545 465.454545 257.070545 0 465.454545-208.384 465.454545-465.454545C977.454545 278.202182 769.070545 69.818182 512 69.818182zM512 954.181818c-231.377455 0-418.909091-187.531636-418.909091-418.909091 0-231.377455 187.531636-418.909091 418.909091-418.909091s418.909091 187.531636 418.909091 418.909091C930.909091 766.650182 743.377455 954.181818 512 954.181818zM512 279.272727c-25.693091 0-46.545455 20.852364-46.545455 46.545455s20.852364 46.545455 46.545455 46.545455 46.545455-20.852364 46.545455-46.545455S537.693091 279.272727 512 279.272727z' p-id='4624' fill='%23FBEAE6'%3E%3C/path%3E%3C/svg%3E");
          }
        }

        .icon {
          width: 40rpx;
          height: 40rpx;
        }

        .item-text {
          color: #ffffff;
          margin-left: 10rpx;
          font-size: 0.9rem;
        }
      }
    }

    .orders-wrapper {
      border-radius: 20rpx;
      background: #ffffff;
      padding: 30rpx 35rpx;
      margin: 0 20rpx;

      .orders-title {
        font-size: 1rem;
        font-weight: 700;
        text-align: left;
      }

      .orders-tabs {
        margin-top: 40rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .order-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .order-icon {
            background-size: cover;

            &.wait_pay {
              background-image: url("data:image/svg+xml,%3Csvg t='1646911219160' class='icon' viewBox='0 0 1152 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='969' width='200' height='200'%3E%3Cpath d='M752.045685 514.787376m-50.328702 0a50.328701 50.328701 0 1 0 100.657403 0 50.328701 50.328701 0 1 0-100.657403 0Z' fill='%23000000' p-id='970'%3E%3C/path%3E%3Cpath d='M1015.813302 1024H136.873796A137.068717 137.068717 0 0 1 0 887.08722V137.029733A137.029733 137.029733 0 0 1 136.873796 0h878.939506a137.029733 137.029733 0 0 1 136.873796 136.91278v750.057487a137.068717 137.068717 0 0 1-136.873796 137.029733zM136.873796 58.671337a78.436365 78.436365 0 0 0-78.319412 78.358396v750.057487a78.397381 78.397381 0 0 0 78.319412 78.319412h878.939506a78.397381 78.397381 0 0 0 78.319412-78.319412V137.029733a78.436365 78.436365 0 0 0-78.319412-78.358396z' fill='%23000000' p-id='971'%3E%3C/path%3E%3Cpath d='M1075.381277 759.335744h-308.287661c-121.513991 0-220.339133-110.910268-220.339133-247.277268s98.825142-247.316252 220.339133-247.316252h316.318422c38.204591 0 69.27506 33.643431 69.27506 74.966764v344.231165c0 43.155594-40.816538 75.395591-77.305821 75.395591zM767.093616 323.335592c-89.196025 0-161.784749 84.634865-161.784749 188.722884s72.588723 188.722884 161.784749 188.722885h308.287661c7.56295 0 18.751437-8.888415 18.751437-16.841208v-344.231165c0-9.395211-5.65272-16.373396-10.720676-16.373396z' fill='%23000000' p-id='972'%3E%3C/path%3E%3C/svg%3E");
            }
            &.wait_go {
              background-image: url("data:image/svg+xml,%3Csvg t='1646911243852' class='icon' viewBox='0 0 1032 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1140' width='200' height='200'%3E%3Cpath d='M658.969146 812.546554a26.849423 26.849423 0 0 1-20.735198-43.938872l120.233766-146.399612a10.177716 10.177716 0 0 0-0.227859-13.21584l-133.63949-151.412516a26.887399 26.887399 0 0 1 40.293123-35.58403L798.532978 573.446177a63.686679 63.686679 0 0 1 1.443109 82.864838l-120.233767 146.399611a26.583587 26.583587 0 0 1-20.773174 9.835928z' fill='%23000000' p-id='1141'%3E%3C/path%3E%3Cpath d='M234.543191 580.889581m20.279479 0l496.08771 0q20.279479 0 20.27948 20.279479l0 23.165697q0 20.279479-20.27948 20.27948l-496.08771 0q-20.279479 0-20.279479-20.27948l0-23.165697q0-20.279479 20.279479-20.279479Z' fill='%23000000' p-id='1142'%3E%3C/path%3E%3Cpath d='M975.085972 1023.924047H58.256032A57.382571 57.382571 0 0 1 0.949414 966.693382L0 297.622473l105.878629-251.176921A75.68727 75.68727 0 0 1 175.869416 0.000228h0.683578L862.827282 6.190406a77.434191 77.434191 0 0 1 71.661755 49.369519l95.62496 243.239821 2.278593 667.665776a57.306618 57.306618 0 0 1-57.306618 57.534478zM53.736822 308.44579l0.949414 658.171639a3.797655 3.797655 0 0 0 3.569796 3.569796h916.82994a3.455866 3.455866 0 0 0 2.506453-1.063344 3.379913 3.379913 0 0 0 1.063343-2.544429l-2.240617-657.564013-91.941234-233.66973a24.001181 24.001181 0 0 0-22.140331-15.190621L176.059299 53.96491a22.178307 22.178307 0 0 0-20.469362 13.557629z' fill='%23000000' p-id='1143'%3E%3C/path%3E%3Cpath d='M10.595458 275.330236h1009.26487v53.736823H10.595458z' fill='%23000000' p-id='1144'%3E%3C/path%3E%3C/svg%3E");
            }
            &.wait_recive {
              background-image: url("data:image/svg+xml,%3Csvg t='1646911267414' class='icon' viewBox='0 0 1032 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1401' width='200' height='200'%3E%3Cpath d='M971.512246 1024H61.876639a61.047092 61.047092 0 0 1-60.933972-60.707732L0 298.636869l105.578664-249.957488A79.183998 79.183998 0 0 1 178.767303 0.000075h0.716426l680.869266 6.146187a80.843092 80.843092 0 0 1 74.847732 51.507306l94.983091 242.001381 2.2624 663.184839a60.971679 60.971679 0 0 1-60.933972 61.122505z m-909.070007-61.461865H970.946646l-2.186987-651.118706-90.948478-231.292689a19.68288 19.68288 0 0 0-18.174613-12.480906L178.767303 61.461941a17.910666 17.910666 0 0 0-16.666346 10.97264L61.499572 310.966949z' fill='%23000000' p-id='1402'%3E%3C/path%3E%3Cpath d='M14.59248 273.18487h1001.338218v61.461865H14.59248z' fill='%23000000' p-id='1403'%3E%3C/path%3E%3Cpath d='M429.969111 783.318352h-4.901867a69.983572 69.983572 0 0 1-49.207199-24.961813l-112.592104-134.047197a30.738474 30.738474 0 1 1 47.057919-39.554293l112.629811 134.047198a8.974186 8.974186 0 0 0 6.259306 3.205066 8.785653 8.785653 0 0 0 6.67408-2.337813l254.067515-230.236902a30.738474 30.738474 0 0 1 41.288799 45.549653l-254.067515 230.236901a69.795038 69.795038 0 0 1-47.208745 18.0992z' fill='%23000000' p-id='1404'%3E%3C/path%3E%3C/svg%3E");
            }
            &.wait_judge {
              background-image: url("data:image/svg+xml,%3Csvg t='1646911289318' class='icon' viewBox='0 0 1032 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1661' width='200' height='200'%3E%3Cpath d='M971.329483 1023.849622H61.880572A61.015898 61.015898 0 0 1 0.939863 963.021697L0 298.463456l105.264642-249.928336A78.948481 78.948481 0 0 1 178.423568 0.000602h0.714296L859.936935 6.166102a80.828207 80.828207 0 0 1 74.925869 51.504485l95.151717 241.995893 2.255671 663.092055a60.978303 60.978303 0 0 1-60.940709 61.091087zM62.406895 962.532968h908.396265l-2.218077-650.986621-90.941131-231.319051a19.586742 19.586742 0 0 0-18.158151-12.481379L178.68673 61.580417a17.894989 17.894989 0 0 0-16.541587 10.977598L61.61741 310.982429z' fill='%23000000' p-id='1662'%3E%3C/path%3E%3Cpath d='M14.586672 273.275131h1001.179528V334.742163H14.586672z' fill='%23000000' p-id='1663'%3E%3C/path%3E%3Cpath d='M661.813841 854.674305H345.30562a26.654511 26.654511 0 0 1 0-53.309023h316.508221a44.511906 44.511906 0 0 0 44.436717-44.436716v-96.655498a44.474311 44.474311 0 0 0-44.436717-44.399122H367.03525a35.451628 35.451628 0 0 1-24.624408-60.940709l87.670409-84.700442a26.654511 26.654511 0 1 1 37.030597 38.30881l-55.865449 54.023318h250.567442a97.745739 97.745739 0 0 1 97.745739 97.745739v96.617904a97.745739 97.745739 0 0 1-97.745739 97.745739z' fill='%23000000' p-id='1664'%3E%3C/path%3E%3C/svg%3E");            }
            &.all {
              background-image: url("data:image/svg+xml,%3Csvg t='1646911319770' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1921' width='200' height='200'%3E%3Cpath d='M647.739904 1023.968263H261.593677A175.379637 175.379637 0 0 1 86.404463 848.779049V175.189214A175.379637 175.379637 0 0 1 261.593677 0h500.622223a175.379637 175.379637 0 0 1 175.220951 175.189214v546.545917zM261.593677 51.922021A123.425879 123.425879 0 0 0 138.294747 175.189214v673.589835a123.425879 123.425879 0 0 0 123.29893 123.267193h364.152364l260.054424-271.162436V175.189214a123.394142 123.394142 0 0 0-123.584565-123.267193z' fill='%23E2463D' p-id='1922'%3E%3C/path%3E%3Cpath d='M656.753262 998.007252h-51.922021v-174.808368a142.499923 142.499923 0 0 1 142.341237-142.341236h177.728188v51.92202h-177.728188a90.514427 90.514427 0 0 0-90.419216 90.419216z' fill='%23E2463D' p-id='1923'%3E%3C/path%3E%3Cpath d='M304.819712 300.90017m31.895862 0l347.617294 0q31.895862 0 31.895863 31.895863l0 0.031737q0 31.895862-31.895863 31.895862l-347.617294 0q-31.895862 0-31.895862-31.895862l0-0.031737q0-31.895862 31.895862-31.895863Z' fill='%23E2463D' p-id='1924'%3E%3C/path%3E%3Cpath d='M304.819712 470.757539m31.895862 0l347.617294 0q31.895862 0 31.895863 31.895863l0 0.031737q0 31.895862-31.895863 31.895862l-347.617294 0q-31.895862 0-31.895862-31.895862l0-0.031737q0-31.895862 31.895862-31.895863Z' fill='%23E2463D' p-id='1925'%3E%3C/path%3E%3Cpath d='M304.819712 651.405548m31.895862 0l140.087897 0q31.895862 0 31.895863 31.895862l0 0.031737q0 31.895862-31.895863 31.895863l-140.087897 0q-31.895862 0-31.895862-31.895863l0-0.031737q0-31.895862 31.895862-31.895862Z' fill='%23E2463D' p-id='1926'%3E%3C/path%3E%3C/svg%3E");           
            }
          }

          .icon {
            width: 45rpx;
            height: 45rpx;
          }

          .order-text {
            color: #000000;
            margin-top: 10rpx;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .mine-bottom {
    position: absolute;
    bottom: 30rpx;
    color: #808182;
    font-size: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}