page {
  background-color: #F5F7F5;
  width: 100%;
	height: 100vh;
}

.detail-container {
  box-sizing: border-box;
  
  .detail-swiper {
    width: 100%;
    position: relative;
    height: 600rpx;

    .swiper-wrapper {
      height: 600rpx;

      .item-img {
        width: 100%;
        height: 600rpx;
      }  
    }
    
    .swiper-dots {
      position: absolute;
      bottom: 20rpx;
      right: 30rpx;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10rpx 25rpx;
      border-radius: 50rpx;
      color: #ffffff;

      .current {
        font-family: 'Din-Bold';
        font-weight: 700;
      }
    }

    .back {
      position: absolute;
      top: 60rpx;
      left: 30rpx;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      padding: 15rpx;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 30rpx;
        height: 30rpx;
      }

      .back-icon {
        background-image: url("data:image/svg+xml,%3Csvg t='1647094939256' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='15582' width='200' height='200'%3E%3Cpath d='M729.6 931.2l-416-425.6 416-416c9.6-9.6 9.6-25.6 0-35.2-9.6-9.6-25.6-9.6-35.2 0l-432 435.2c-9.6 9.6-9.6 25.6 0 35.2l432 441.6c9.6 9.6 25.6 9.6 35.2 0C739.2 956.8 739.2 940.8 729.6 931.2z' p-id='15583' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
      }
    }
  }

  .wrapper {
    background-color: #ffffff;
    border-radius: 20rpx;
    padding: 30rpx 22rpx;
    box-sizing: border-box;
    margin: 25rpx 0;
  }

  .arrow-icon {
    width: 30rpx;
    height: 30rpx;
  }

  .detail-content {
    width: 100%;
    padding: 0 25rpx;
    box-sizing: border-box;

    .introduction {
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .unit {
          font-weight: 700;
          font-size: 1.1rem;
          color: #FD503F;
        }

        .price {
          font-family: 'Din-Bold';
          font-weight: 700;
          font-size: 1.5rem;
          color: #FD503F;
        }
        .nums {
          color: #858585;
          font-size: 0.9rem;
        }
      }
      .middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15rpx 0;
        .title {
          width: 85%;
          font-size: 1.2rem;
          color: #1F1F1F;
          font-weight: 700;
        }
        .collect {
          width: 15%;
          background-size: cover;
          background-image: url("data:image/svg+xml,%3Csvg t='1647065778427' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2851' width='200' height='200'%3E%3Cpath d='M512 720.416l232.096 171.904a19.2 19.2 0 0 0 16.864 2.88c9.536-2.88 14.592-12.224 11.84-20.864l-88.96-281.6 237.344-176.96a16.48 16.48 0 0 0 6.816-13.152c0-9.152-7.904-16.928-18.112-16.96l-292-0.448-88.48-277.12a17.568 17.568 0 0 0-11.776-11.264c-9.856-2.976-20.16 2.304-23.04 11.264l-88.48 277.12-292 0.48a18.624 18.624 0 0 0-14.624 6.944 16.096 16.096 0 0 0 3.328 23.136l237.376 176.96-88.992 281.6a15.904 15.904 0 0 0 2.72 14.688c6.048 7.744 17.856 9.312 25.984 3.296L512 720.416z m-194.016 223.36a83.008 83.008 0 0 1-114.56-15.424 79.904 79.904 0 0 1-13.28-73.28l75.296-238.24-200.864-149.76a80.096 80.096 0 0 1-15.424-113.92 82.624 82.624 0 0 1 64.864-31.456l245.312-0.384 74.304-232.672c13.6-42.56 59.52-66.112 102.56-53.024A81.536 81.536 0 0 1 590.4 88.64l74.304 232.64 245.312 0.416c45.184 0.064 82.08 36.16 82.016 81.024a80.48 80.48 0 0 1-32.576 64.352l-200.864 149.76 75.296 238.24c13.568 42.976-11.072 88.352-54.496 101.408a83.2 83.2 0 0 1-73.344-12.736L512 800.064l-194.016 143.68z' p-id='2852' fill='%231F1F1F'%3E%3C/path%3E%3C/svg%3E");
        }
        .has-collect {
          background-image: url("data:image/svg+xml,%3Csvg t='1647071286229' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='10202' width='200' height='200'%3E%3Cpath d='M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24z' p-id='10203' fill='%23f4ea2a'%3E%3C/path%3E%3C/svg%3E");
          width: 15%;
          background-size: cover;
        }
        .icon {
          width: 35rpx;
          height: 35rpx;
          align-self: flex-start;
        }
      }
      .bottom {
        display: flex;
        justify-content: left;
        align-items: center;
        .tag {
          color: #525252;
          font-size: 0.9rem;
          margin-right: 20rpx;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .insure {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 0.8rem;

        .left-icon {
          background-image: url("data:image/svg+xml,%3Csvg t='1647071155837' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7786' width='200' height='200'%3E%3Cpath d='M895.59 157.395c-125.446-5.447-245.541-47.869-356.98-126.129l-21.122-14.814-21.067 14.814c-111.371 78.247-231.478 120.682-356.133 126.102l-39.376 0 0 331.722c0 242.989 167.622 451.066 407.648 505.993l10.473 1.679 7.523-1.679c239.971-54.927 407.566-263.004 407.566-505.993l0-331.722-38.53 0.028zM746.086 381.679l-267.728 277.777c-6.718 6.198-17.285 5.789-23.498-0.928l-166.284-176.538c-6.198-6.718-5.789-17.285 0.928-23.498l4.246-3.919c6.718-6.198 17.285-5.789 23.498 0.928l150.05 159.307 250.948-260.492c6.417-6.526 16.998-6.608 23.511-0.191l4.11 4.055c6.54 6.403 6.622 16.985 0.219 23.498z' p-id='7787' data-spm-anchor-id='a313x.7781069.0.i14' class='' fill='%23FD4B2F'%3E%3C/path%3E%3C/svg%3E");          
          background-size: cover;

          &.icon {
            width: 35rpx;
            height: 35rpx;
          }
        }
        .left-desc {
          color: #F2430c;
          margin-left: 10rpx;
          margin-right: 20rpx;
        }
        .left-insure {
          color: #858585;
          display: flex;
          justify-content: left;
          align-items: center;

          .insure {
            margin-right: 10rpx;
          }
        }
      }
      .right {
        background-image: url("data:image/svg+xml,%3Csvg t='1647070132969' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='5278' width='200' height='200'%3E%3Cpath d='M312.888889 995.555556c-17.066667 0-28.444444-5.688889-39.822222-17.066667-22.755556-22.755556-17.066667-56.888889 5.688889-79.644445l364.088888-329.955555c11.377778-11.377778 17.066667-22.755556 17.066667-34.133333 0-11.377778-5.688889-22.755556-17.066667-34.133334L273.066667 187.733333c-22.755556-22.755556-28.444444-56.888889-5.688889-79.644444 22.755556-22.755556 56.888889-28.444444 79.644444-5.688889l364.088889 312.888889c34.133333 28.444444 56.888889 73.955556 56.888889 119.466667s-17.066667 85.333333-51.2 119.466666l-364.088889 329.955556c-11.377778 5.688889-28.444444 11.377778-39.822222 11.377778z' p-id='5279' fill='%23858585'%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;

      .info-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25rpx 0;

        .right {
          background-image: url("data:image/svg+xml,%3Csvg t='1647070132969' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='5278' width='200' height='200'%3E%3Cpath d='M312.888889 995.555556c-17.066667 0-28.444444-5.688889-39.822222-17.066667-22.755556-22.755556-17.066667-56.888889 5.688889-79.644445l364.088888-329.955555c11.377778-11.377778 17.066667-22.755556 17.066667-34.133333 0-11.377778-5.688889-22.755556-17.066667-34.133334L273.066667 187.733333c-22.755556-22.755556-28.444444-56.888889-5.688889-79.644444 22.755556-22.755556 56.888889-28.444444 79.644444-5.688889l364.088889 312.888889c34.133333 28.444444 56.888889 73.955556 56.888889 119.466667s-17.066667 85.333333-51.2 119.466666l-364.088889 329.955556c-11.377778 5.688889-28.444444 11.377778-39.822222 11.377778z' p-id='5279' fill='%23858585'%3E%3C/path%3E%3C/svg%3E");
          background-size: cover;
        }

        .left {
          display: flex;
          justify-content: left;
          align-items: center;
          font-size: 0.9rem;
          .label {
            color: #858585;
            margin-right: 20rpx;
          }
          .content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #1F1F1F;
            width: 240rpx;

            &.address {
              width: 540rpx;
            }
          }
        }
      }
    }

    .store {
      display: flex;
      justify-content: left;
      align-items: flex-start;
      
      .store-img {
        width: 20%;
        .img {
          width: 110rpx;
          height: 110rpx;
          border-radius: 50%;
        }
      }

      .store-info {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .name {
          font-size: 1.3rem;
          font-weight: 700;
          color: #1F1F1F;
        }
        .desc {
          font-size: 0.9rem;
          color: #949494;
          margin: 10rpx 0;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .btn {
          background-color: #FD523E;
          color: #ffffff;
          font-size: 0.9rem;
          border-radius: 50rpx;
          padding: 10rpx 30rpx;
        }
      }
    }
  }

  .detail-detail {
    margin-top: 15rpx;
    background-color: #ffffff;
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    width: 100%;
    padding-top: 30rpx;
    box-sizing: border-box;

    .detail-title {
      margin-bottom: 50rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .title {
        color: #F85242;
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0 15rpx;
      }
  
      .title-divider {
        width: 75rpx;
        height: 4rpx;
        &:nth-of-type(1) {
          background: -webkit-linear-gradient(left, #fff -4%,#E36E64 50%);
        }
        &:last-child {
          background: -webkit-linear-gradient(right, #fff -4%,#E36E64 50%);
        }
      }  
    }

    .detail-imgs {
      width: 100%;
      .img-item {
        width: 100%;
        height: 500rpx;
        display: block;
      }
    }
  }
  .detail-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50rpx 0;
    color: #858585;
    font-size: 0.9rem;
  }
}

.detail-buy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 30rpx 20rpx;
  box-sizing: border-box;
  background-color: #ffffff;
  border-top: 1px solid #E0E0E0;
  .buy-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20rpx;
    width: 40%;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      .text {
        font-size: 0.8rem;
        margin-top: 5rpx;
        color: #1f1f1f;
      }
    }

    .icon {
      width: 35rpx;
      height: 35rpx;
    }

    .store {
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg t='1647081844758' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='11103' width='200' height='200'%3E%3Cpath d='M832 874.474667a21.333333 21.333333 0 0 1-21.376 21.546666H213.376A21.482667 21.482667 0 0 1 192 874.453333v-213.12H149.333333v213.12a64.149333 64.149333 0 0 0 64.042667 64.213334h597.248A64 64 0 0 0 874.666667 874.453333v-213.12h-42.666667v213.12z m-8-303.104a117.056 117.056 0 0 1-137.621333-47.573334l-40.554667-63.872-33.685333 67.712a111.168 111.168 0 0 1-100.096 62.08 111.317333 111.317333 0 0 1-100.138667-62.08l-33.706667-67.712-40.512 63.872a116.778667 116.778667 0 0 1-137.706666 47.573334c-57.429333-26.090667-86.464-93.866667-64.874667-153.685334l40.490667-112.277333 37.418666-147.029333c0.938667-3.797333 7.68-9.045333 11.605334-9.045334h576.405333c4.010667 0 10.645333 5.141333 11.605333 9.045334l38.314667 153.258666 37.930667 105.749334c21.589333 59.861333-7.466667 127.722667-64.874667 153.984m105.002667-168.469334l-36.672-101.610666-38.314667-153.258667C848.32 125.162667 824.576 106.666667 801.024 106.666667h-576.426667c-23.552 0-47.296 18.624-52.992 41.386666L136.746667 287.466667l-1.28 3.434666L94.954667 403.2c-29.333333 81.365333 10.666667 173.184 89.408 207.722667 70.976 25.984 149.76-1.877333 189.354666-64.277334a154.56 154.56 0 0 0 138.325334 85.717334 154.389333 154.389333 0 0 0 138.304-85.717334 159.872 159.872 0 0 0 189.333333 64.277334c78.72-34.730667 118.741333-126.506667 89.322667-208' fill='%231F1F1F' p-id='11104'%3E%3C/path%3E%3Cpath d='M746.645333 362.666667H277.354667a21.333333 21.333333 0 1 0 0 42.666666h469.290666a21.333333 21.333333 0 1 0 0-42.666666' fill='%231F1F1F' p-id='11105'%3E%3C/path%3E%3C/svg%3E");
    }

    .info {
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg t='1647081888768' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='12732' width='200' height='200'%3E%3Cpath d='M725.89095 490.820632 300.792159 490.820632c-15.789615 0-28.711925 12.905938-28.711925 28.741601 0 15.820314 12.922311 28.7723 28.711925 28.7723l425.188842 0c15.848966 0 28.741601-12.951987 28.741601-28.7723C754.722602 503.726569 741.830991 490.820632 725.89095 490.820632z' p-id='12733' fill='%231f1f1f'%3E%3C/path%3E%3Cpath d='M835.211774 143.150304l-653.084249 0c-48.347125 0-87.675852 39.327704-87.675852 87.660502l0 562.392714c0 48.348148 39.328727 87.645153 87.675852 87.645153l653.084249 0c48.346101 0 87.674828-39.297005 87.674828-87.645153l0-49.083905 0-18.927071L922.886603 230.809783C922.886603 182.478008 883.558899 143.150304 835.211774 143.150304zM867.856265 725.399251l0 18.720364 0 44.797275c0 20.344351-16.558118 36.903491-36.932144 36.903491L186.47453 825.820382c-20.373003 0-36.932144-16.560164-36.932144-36.903491L149.542386 235.112786c0-20.314675 16.559141-36.888142 36.932144-36.888142l644.449591 0c20.374026 0 36.932144 16.573467 36.932144 36.888142L867.856265 725.399251z' p-id='12734' fill='%231f1f1f'%3E%3C/path%3E%3Cpath d='M639.074675 649.552819 300.792159 649.552819c-15.789615 0-28.711925 12.893658-28.711925 28.711925 0 15.84999 12.922311 28.740578 28.800953 28.740578l338.193489 0c15.821337 0 28.741601-12.890588 28.741601-28.740578C667.815253 662.446477 654.894989 649.552819 639.074675 649.552819z' p-id='12735' fill='%231f1f1f'%3E%3C/path%3E%3Cpath d='M725.981001 332.088444 300.792159 332.088444c-15.789615 0-28.711925 12.906961-28.711925 28.741601 0 15.805988 12.922311 28.712949 28.711925 28.712949l425.188842 0c15.848966 0 28.741601-12.906961 28.741601-28.712949C754.722602 344.995405 741.830991 332.088444 725.981001 332.088444z' p-id='12736' fill='%231f1f1f'%3E%3C/path%3E%3C/svg%3E");
    }

    .collect {
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg t='1647065778427' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2851' width='200' height='200'%3E%3Cpath d='M512 720.416l232.096 171.904a19.2 19.2 0 0 0 16.864 2.88c9.536-2.88 14.592-12.224 11.84-20.864l-88.96-281.6 237.344-176.96a16.48 16.48 0 0 0 6.816-13.152c0-9.152-7.904-16.928-18.112-16.96l-292-0.448-88.48-277.12a17.568 17.568 0 0 0-11.776-11.264c-9.856-2.976-20.16 2.304-23.04 11.264l-88.48 277.12-292 0.48a18.624 18.624 0 0 0-14.624 6.944 16.096 16.096 0 0 0 3.328 23.136l237.376 176.96-88.992 281.6a15.904 15.904 0 0 0 2.72 14.688c6.048 7.744 17.856 9.312 25.984 3.296L512 720.416z m-194.016 223.36a83.008 83.008 0 0 1-114.56-15.424 79.904 79.904 0 0 1-13.28-73.28l75.296-238.24-200.864-149.76a80.096 80.096 0 0 1-15.424-113.92 82.624 82.624 0 0 1 64.864-31.456l245.312-0.384 74.304-232.672c13.6-42.56 59.52-66.112 102.56-53.024A81.536 81.536 0 0 1 590.4 88.64l74.304 232.64 245.312 0.416c45.184 0.064 82.08 36.16 82.016 81.024a80.48 80.48 0 0 1-32.576 64.352l-200.864 149.76 75.296 238.24c13.568 42.976-11.072 88.352-54.496 101.408a83.2 83.2 0 0 1-73.344-12.736L512 800.064l-194.016 143.68z' p-id='2852' fill='%231F1F1F'%3E%3C/path%3E%3C/svg%3E");
    }
    .has-collect {
      background-image: url("data:image/svg+xml,%3Csvg t='1647071286229' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='10202' width='200' height='200'%3E%3Cpath d='M335.008 916.629333c-35.914667 22.314667-82.88 10.773333-104.693333-25.557333a77.333333 77.333333 0 0 1-8.96-57.429333l46.485333-198.24a13.141333 13.141333 0 0 0-4.021333-12.864l-152.16-132.586667c-31.605333-27.52-35.253333-75.648-8.234667-107.733333a75.68 75.68 0 0 1 51.733333-26.752L354.848 339.2c4.352-0.362667 8.245333-3.232 10.026667-7.594667l76.938666-188.170666c16.032-39.2 60.618667-57.92 99.52-41.461334a76.309333 76.309333 0 0 1 40.832 41.461334l76.938667 188.16c1.781333 4.373333 5.674667 7.253333 10.026667 7.605333l199.712 16.277333c41.877333 3.413333 72.885333 40.458667 69.568 82.517334a76.938667 76.938667 0 0 1-26.08 51.978666l-152.16 132.586667c-3.541333 3.082667-5.141333 8.074667-4.021334 12.853333l46.485334 198.24c9.621333 41.013333-15.36 82.336-56.138667 92.224a75.285333 75.285333 0 0 1-57.525333-9.237333l-170.976-106.24a11.296 11.296 0 0 0-12.010667 0l-170.986667 106.24z' p-id='10203' fill='%23f4ea2a'%3E%3C/path%3E%3C/svg%3E");
      background-size: cover;
    }
  }
  .buy-right {
    width: 60%;
    border-radius: 50rpx;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    background-color: #FD523E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rpx 0;
  }
}

.insure-float {
  .at-float-layout__container {
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    .layout-header {
      border-top-left-radius: 20rpx;
      border-top-right-radius: 20rpx;
      background-color: #FD5040;
      .layout-header__title {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 700;
        padding-right: 0;
        text-align: center;
      }
    }
    .insure-content {
      width: 100%;
      padding-top: 30rpx;
      padding-bottom: 0;
      padding-right: 15rpx;
      padding-left: 30rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      .insure-item {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 40rpx;

        .left {
          padding-top: 7rpx;
          .icon {
            width: 30rpx;
            height: 30rpx;
            margin-right: 25rpx;
          }
    
          .check {
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg t='1647088927037' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='13786' data-spm-anchor-id='a313x.7781069.0.i35' width='200' height='200'%3E%3Cpath d='M512 992C246.912 992 32 777.088 32 512 32 246.912 246.912 32 512 32c265.088 0 480 214.912 480 480 0 265.088-214.912 480-480 480z m0-64c229.76 0 416-186.24 416-416S741.76 96 512 96 96 282.24 96 512s186.24 416 416 416z' p-id='13787' data-spm-anchor-id='a313x.7781069.0.i31' class='' fill='%23FD523E'%3E%3C/path%3E%3Cpath d='M741.216 344a32 32 0 0 1 46.816 43.616l-315.296 338.208a32 32 0 0 1-43.968 2.688l-193.344-162.368a32 32 0 1 1 41.152-48.992l170.08 142.816 294.56-316z' p-id='13788' data-spm-anchor-id='a313x.7781069.0.i32' class='' fill='%23FD523E'%3E%3C/path%3E%3C/svg%3E");
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          .title {
            font-size: 1rem;
            color: #1F1F1F;
            font-weight: 700;
            margin-bottom: 10rpx;
          }
          .content {
            color: #858585;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.info-float {
  .at-float-layout__container {
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    .layout-header {
      border-top-left-radius: 20rpx;
      border-top-right-radius: 20rpx;
      background-color: #ffffff;
      padding: 25rpx 0;
      .layout-header__title {
        color: #212121;
        font-size: 0.9rem;
        padding-right: 0;
        text-align: center;
      }
    }
    .layout-body {
      padding: 0;
    }
    .info-content {
      padding: 0 20rpx;
      padding-bottom: 15rpx;
      width: 100%;
      box-sizing: border-box;
      .info-item {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 0.9rem;
        position: relative;
        padding: 25rpx 0;
        .label {
          width: 20%;
          color: #868686;
        }
        .content {
          width: 80%;
        }
        &::after {
          content: '';
          position: absolute;
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          pointer-events: none;
          top: -50%;
          left: -50%;
          right: -50%;
          bottom: -50%;
          border: 0 solid #d6e4ef;
          -webkit-transform: scale(0.5);
          -ms-transform: scale(0.5);
          transform: scale(0.5);
          border-bottom-width: 1PX;
        }
      }
    }
    .address-content {
      padding: 0 20rpx;
      padding-bottom: 15rpx;
      width: 100%;
      box-sizing: border-box;
      .address-item {
        width: 100%;
        padding: 20rpx 0rpx;
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    
        .item-info {
          width: 85%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
    
          .item-top {
            font-size: 1rem;
          }
    
          .item-bottom {
            margin-top: 15rpx;
            font-size: 0.9rem;
    
            .item-checked {
              border: 1px solid #BE2F3C;
              border-radius: 5rpx;
              padding: 0 8rpx;
              color: #BE2F3C;
              font-size: 0.8rem;
              box-sizing: border-box;
            }
          }
    
          .text {
            margin-right: 15rpx;
          }
        }
    
        .item-divider {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 200%;
          transform: scale(0.5);
          transform-origin: 0 0;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }
    
        .item-img {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          .item-delete {
            background-image: url("data:image/svg+xml,%3Csvg t='1646982761945' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2219' width='200' height='200'%3E%3Cpath d='M202.666667 256h-42.666667a32 32 0 0 1 0-64h704a32 32 0 0 1 0 64H266.666667v565.333333a53.333333 53.333333 0 0 0 53.333333 53.333334h384a53.333333 53.333333 0 0 0 53.333333-53.333334V352a32 32 0 0 1 64 0v469.333333c0 64.8-52.533333 117.333333-117.333333 117.333334H320c-64.8 0-117.333333-52.533333-117.333333-117.333334V256z m224-106.666667a32 32 0 0 1 0-64h170.666666a32 32 0 0 1 0 64H426.666667z m-32 288a32 32 0 0 1 64 0v256a32 32 0 0 1-64 0V437.333333z m170.666666 0a32 32 0 0 1 64 0v256a32 32 0 0 1-64 0V437.333333z' p-id='2220' fill='%23020202'%3E%3C/path%3E%3C/svg%3E");        background-size: cover;
          }
      
          .icon {
            width: 40rpx;
            height: 40rpx;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }    
    }
  }
}

.buy-float {
  .at-float-layout__container {
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    .layout-header {
      display: none;
    }
    .layout-body {
      padding: 0;
      .buy-content {
        width: 100%;
        padding: 25rpx 35rpx;
        box-sizing: border-box;
        .buy-top {
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: flex-start;
          position: relative;
          .buy-img {
            width: 150rpx;
            height: 150rpx;
            border-radius: 20rpx;
          }
          .buy-info {
            margin-left: 20rpx;
            margin-top: 20rpx;
            .price {
              margin-bottom: 10rpx;
              .price-text {
                color: #DC6247;
                font-size: 1.2rem;
                font-weight: 700;
                font-family: 'Din-Bold';
              }
              .price-pre {
                font-size: 1.5rem;
              }          
              .price-dot {
                font-size: 1.2rem;
              }
            }
            .select {
              color: #828282;
              font-size: 0.9rem;
            }
          }
          .close-icon {
            width: 50rpx;
            height: 50rpx;
            position: absolute;
            right: 0;
            top: 0;
          }
          .buy-icon {
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg t='1647252869342' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1680' width='200' height='200'%3E%3Cpath d='M576 512l277.333333 277.333333-64 64-277.333333-277.333333L234.666667 853.333333 170.666667 789.333333l277.333333-277.333333L170.666667 234.666667 234.666667 170.666667l277.333333 277.333333L789.333333 170.666667 853.333333 234.666667 576 512z' fill='%23000000' p-id='1681' data-spm-anchor-id='a313x.7781069.0.i0' class='selected'%3E%3C/path%3E%3C/svg%3E");
          }
        }
        .buy-divider {
          height: 50rpx;
        }
        .buy-spec {
          width: 100%;
          .spec-label {
            color: #505050;
            font-size: 1rem;
            margin-bottom: 25rpx;
          }
          .spec-range {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            .range-item {
              margin-right: 20rpx;
              margin-bottom: 15rpx;
              background-color: #F6F6F8;
              color: #505050;
              border-radius: 10rpx;
              padding: 15rpx;
              font-size: 0.9rem;
              box-sizing: border-box;
              &.active {
                color: #D75F57;
                border: 1rpx solid #D75F57;
              }
            }
          }
        }
        .buy-nums {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 80rpx;
          .buy-number {
            .at-input-number__btn {
              color: #D1D1D1;
            }
            .at-input-number__input {
              background-color: #F6F6F6;
            }
          }
        }
      }
      .buy-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #E4E4E4;
        z-index: 999;
        background-color: #ffffff;
        padding: 0 25rpx;
        padding-top: 15rpx;
        .btn {
          background-color: #FD5342;
          border-color: #FD5342;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 700;
          border-radius: 50rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15rpx 0;
        }
      }
    }
  }
}

.pay-float {
  .at-float-layout__container {
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    .layout-header {
      border-top-left-radius: 20rpx;
      border-top-right-radius: 20rpx;
      background-color: #ffffff;
      padding: 25rpx 0;
      font-weight: 700;
      .layout-header__title {
        font-size: 1.1rem;
        font-weight: 700;
        padding-right: 0;
        text-align: center;
      }
    }
    .layout-body {
      padding: 0;
    }
    .layout-body__content {
      min-height: 750rpx;
      .pay-content {
        padding: 0 35rpx;
        .top {
          width: 100%;
          padding: 35rpx 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.1rem;
          color: #1F1F1F;
          .price {
            font-family: 'Din-Bold';
            font-size: 2rem;
          }
        }
        .bottom {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          .pay-item {
            padding: 35rpx 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #232323;
            font-size: 1rem;
            width: 100%;
            .left {
              display: flex;
              justify-content: center;
              align-items: center;
              .text {
                margin-left: 15rpx;
              }
              .icon {
                width: 65rpx;
                height: 65rpx;
              }
              .pay-icon {
                background-size: cover;
                &.wxpay {
                  background-image: url("data:image/svg+xml,%3Csvg t='1647265553712' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='4312' width='200' height='200'%3E%3Cpath d='M395.846 603.585c-3.921 1.98-7.936 2.925-12.81 2.925-10.9 0-19.791-5.85-24.764-14.625l-2.006-3.864-78.106-167.913c-0.956-1.98-0.956-3.865-0.956-5.845 0-7.83 5.928-13.68 13.863-13.68 2.965 0 5.928 0.944 8.893 2.924l91.965 64.43c6.884 3.864 14.82 6.79 23.708 6.79 4.972 0 9.85-0.945 14.822-2.926L861.71 282.479c-77.149-89.804-204.684-148.384-349.135-148.384-235.371 0-427.242 157.158-427.242 351.294 0 105.368 57.361 201.017 147.323 265.447 6.88 4.905 11.852 13.68 11.852 22.45 0 2.925-0.957 5.85-2.006 8.775-6.881 26.318-18.831 69.334-18.831 71.223-0.958 2.92-2.013 6.79-2.013 10.75 0 7.83 5.929 13.68 13.865 13.68 2.963 0 5.928-0.944 7.935-2.925l92.922-53.674c6.885-3.87 14.82-6.794 22.756-6.794 3.916 0 8.889 0.944 12.81 1.98 43.496 12.644 91.012 19.53 139.48 19.53 235.372 0 427.24-157.158 427.24-351.294 0-58.58-17.78-114.143-48.467-163.003l-491.39 280.07-2.963 1.98z' fill='%2309BB07' p-id='4313'%3E%3C/path%3E%3C/svg%3E");                }
                &.alipay {
                  background-image: url("data:image/svg+xml,%3Csvg t='1647263682542' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3147' width='200' height='200'%3E%3Cpath d='M896 650.666667l-247.04-83.072s18.986667-28.416 39.253333-84.138667c20.266667-55.722667 23.168-86.314667 23.168-86.314667l-159.914666-1.28V341.162667l193.706666-1.365334V301.226667h-193.706666V213.333333H456.533333v87.893334H275.882667v38.613333l180.693333-1.28v58.581333H311.637333v30.592h298.325334s-3.285333 24.832-14.72 55.722667a1254.485333 1254.485333 0 0 1-23.210667 57.941333s-140.074667-49.024-213.888-49.024-163.584 29.653333-172.288 115.712c-8.661333 86.016 41.813333 132.608 112.938667 149.76 71.125333 17.237333 136.789333-0.170667 193.962666-28.16 57.173333-27.946667 113.28-91.477333 113.28-91.477333l287.914667 139.818667A142.08 142.08 0 0 1 753.792 896H270.208A142.08 142.08 0 0 1 128 754.048V270.208A142.08 142.08 0 0 1 269.952 128h483.84A142.08 142.08 0 0 1 896 269.952v380.714667z m-360.064-48.128s-89.856 113.493333-195.754667 113.493333c-105.941333 0-128.170667-53.930667-128.170666-92.714667 0-38.741333 22.016-80.853333 112.170666-86.954666 90.069333-6.101333 211.84 66.176 211.84 66.176h-0.085333z' fill='%2302A9F1' p-id='3148'%3E%3C/path%3E%3C/svg%3E");
                }
                &.huabei {
                  background-image: url("data:image/svg+xml,%3Csvg t='1647263708928' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3393' width='200' height='200'%3E%3Cpath d='M81.6 385.6c-12 36.8-15.2 76.8-15.2 116.8 0 251.2 199.2 454.4 445.6 454.4 245.6 0 445.6-203.2 445.6-454.4 0-183.2-106.4-341.6-260-413.6-56.8-26.4-108.8-32.8-120-3.2-10.4 30.4 30.4 59.2 60 72.8 29.6 13.6 110.4 52 106.4 128-3.2 76-121.6 84.8-192 55.2-69.6-28.8-171.2-72-195.2-52s-28 70.4 28 104c56.8 33.6 180.8 101.6 198.4 187.2 17.6 85.6 4.8 256.8-241.6 184C284.8 748 224 658.4 206.4 619.2c-50.4-112.8 9.6-226.4 32-260 32-48.8 32-96.8-24.8-117.6-54.4-20-98.4 39.2-132 144z' fill='%2330B4FF' p-id='3394'%3E%3C/path%3E%3Cpath d='M576.8 167.2c40.8 16 62.4 54.4 48 85.6-14.4 31.2-59.2 44-100 28s-62.4-54.4-48-85.6c14.4-31.2 59.2-44 100-28z' fill='%2330B4FF' p-id='3395'%3E%3C/path%3E%3C/svg%3E");
                }
                &.yinlian {
                  background-image: url("data:image/svg+xml,%3Csvg t='1647263727862' class='icon' viewBox='0 0 1325 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3771' width='200' height='200'%3E%3Cpath d='M342.874353 817.543529l87.341176-376.470588h-3.011764c-3.011765 0-7.529412 1.505882-10.541177 3.011765-1.505882 7.529412-6.023529 28.611765-9.035294 37.647059-4.517647 19.576471-4.517647 22.588235-6.023529 33.129411l-1.505883 1.505883h-37.647058l-1.505883-1.505883 9.035294-36.141176c7.529412-33.129412 9.035294-45.176471 12.047059-61.741176l1.505882-1.505883c16.564706-3.011765 21.082353-3.011765 40.658824-6.023529l1.505882 1.505882-3.011764 10.541177c3.011765-1.505882 6.023529-4.517647 9.035294-6.02353 1.505882-1.505882 3.011765-1.505882 6.023529-3.011765l45.176471-191.247058c9.035294-42.164706 51.2-75.294118 91.858823-75.294118h-274.070588c-42.164706 0-82.823529 33.129412-91.858823 75.294118l-138.541177 596.329411c-9.035294 42.164706 16.564706 75.294118 57.223529 75.294118h272.564706c-42.164706 0-67.764706-34.635294-57.223529-75.294118z m-27.105882-313.223529c-13.552941 7.529412-33.129412 12.047059-54.211765 12.047059-16.564706 0-45.176471-3.011765-54.211765-19.576471-4.517647-6.023529-6.023529-12.047059-6.023529-19.57647l3.011764-27.105883 1.505883-7.529411 22.588235-97.882353 1.505882-6.02353s7.529412 1.505882 49.694118 0v1.505883c-4.517647 12.047059-25.6 97.882353-25.6 97.882352l-4.517647 25.6v4.517648c1.505882 12.047059 9.035294 19.576471 22.588235 19.57647 9.035294 0 15.058824-3.011765 22.588236-7.529412 10.541176-9.035294 13.552941-22.588235 18.070588-42.164706 0 0 21.082353-94.870588 21.082353-100.894117 3.011765 0 12.047059 1.505882 42.164706 0v1.505882c-4.517647 12.047059-25.6 102.4-25.6 102.4l-3.011765 9.035294c-3.011765 19.576471-9.035294 40.658824-31.623529 54.211765z' fill='%23D43634' p-id='3772'%3E%3C/path%3E%3Cpath d='M669.650824 817.543529l22.588235-99.388235H665.133176c-4.517647 0-7.529412 0-10.541176-1.505882-3.011765-1.505882-6.023529-4.517647-6.023529-7.529412s1.505882-7.529412 3.011764-13.552941l46.682353-153.6h33.129412l-4.517647 16.564706 4.517647-4.517647 9.035294-37.647059h-21.082353v-1.505883c1.505882-6.023529 3.011765-13.552941 4.517647-19.57647l1.505883-9.035294c3.011765-13.552941 6.023529-30.117647 6.023529-36.141177 0-3.011765 1.505882-10.541176-7.529412-10.541176-3.011765 0-7.529412 1.505882-12.047059 3.011765-1.505882 7.529412-6.023529 28.611765-9.035294 37.647058-4.517647 19.576471-4.517647 22.588235-6.023529 33.129412l-1.505882 1.505882h-37.647059l-1.505883-1.505882 9.035294-36.141176c7.529412-33.129412 9.035294-45.176471 10.541177-61.741177l1.505882-1.505882c16.564706-3.011765 21.082353-3.011765 40.658824-6.02353l1.505882 1.505883-3.011765 10.541176c3.011765-1.505882 6.023529-4.517647 9.035295-6.023529 9.035294-4.517647 18.070588-6.023529 24.094117-6.02353 4.517647 0 9.035294 0 13.552941 3.011765l43.670589-191.247059c9.035294-42.164706 51.2-75.294118 93.364706-75.294117h-326.776471c-42.164706 0-82.823529 33.129412-91.858824 75.294117l-43.670588 191.247059c7.529412-3.011765 13.552941-3.011765 18.070588-3.011765 7.529412 0 16.564706 3.011765 21.082353 12.047059 3.011765 9.035294 1.505882 19.576471-3.011764 39.152941l-3.011765 10.541177c-4.517647 22.588235-6.023529 27.105882-7.529412 42.164706l-4.517647 4.517647h-37.647059v-1.505883c1.505882-6.023529 3.011765-13.552941 4.517647-19.57647l1.505883-9.035294c3.011765-13.552941 6.023529-30.117647 6.023529-36.141177 0-3.011765 1.505882-9.035294-4.517647-10.541176l-87.341176 376.470588c-9.035294 42.164706 16.564706 75.294118 57.223529 75.294118h328.282353c-40.658824 1.505882-66.258824-33.129412-57.223529-73.788236z m12.047058-263.529411l-7.529411 24.094117h-52.705883l-6.023529 4.517647c-3.011765 3.011765-3.011765 1.505882-6.02353 3.011765s-9.035294 4.517647-18.070588 4.517647h-16.564706l7.529412-22.588235h4.517647c4.517647 0 7.529412 0 9.035294-1.505883 1.505882-1.505882 3.011765-3.011765 6.02353-7.529411l9.035294-18.070589h39.152941l-6.023529 13.552942h37.647058z m-140.047058-124.988236l-7.529412 30.117647c-1.505882 6.023529-3.011765 13.552941-4.517647 19.576471-3.011765 13.552941-4.517647 19.576471-6.02353 22.588235-1.505882 3.011765-1.505882 6.023529-3.011764 13.552941h-43.670589c1.505882-7.529412 3.011765-10.541176 4.517647-13.552941s1.505882-6.023529 4.517647-13.552941c3.011765-10.541176 4.517647-18.070588 6.02353-25.6 1.505882-6.023529 4.517647-24.094118 6.023529-30.117647-1.505882-4.517647 1.505882-9.035294 7.529412-13.552941 9.035294-6.023529 22.588235-7.529412 31.623529-3.011765 6.023529 3.011765 7.529412 9.035294 4.517648 13.552941z m7.529411 34.635294c3.011765-13.552941 9.035294-28.611765 19.576471-39.152941 16.564706-15.058824 36.141176-15.058824 45.17647-15.058823 13.552941 0 28.611765 3.011765 36.141177 13.552941 4.517647 6.023529 9.035294 18.070588 4.517647 40.658823-1.505882 7.529412-6.023529 24.094118-16.564706 34.635295-13.552941 13.552941-30.117647 18.070588-48.188235 18.070588-6.023529 0-16.564706-1.505882-24.094118-4.517647-22.588235-9.035294-19.576471-33.129412-16.564706-48.188236z m81.317647 254.494118h-43.670588c-3.011765 0-6.023529 0-10.541176-1.505882-3.011765-1.505882-6.023529-3.011765-7.529412-4.517647-1.505882-3.011765-4.517647-4.517647-3.011765-10.541177l12.047059-42.164706h-21.082353l7.529412-24.094117h21.082353l6.023529-19.576471h-21.082353l7.529412-22.588235h94.870588l-7.529412 22.588235h-37.647058l-6.02353 19.576471h39.152941l-6.023529 24.094117h-39.152941l-9.035294 31.62353c-1.505882 3.011765 9.035294 4.517647 13.552941 4.517647l19.57647-3.011765-9.035294 25.6z' fill='%23034582' p-id='3773'%3E%3C/path%3E%3Cpath d='M723.862588 566.061176l-7.529412 25.6s3.011765-1.505882 6.02353-4.517647l4.517647-21.082353h-3.011765z m-129.505882-72.282352c4.517647 0 7.529412-3.011765 10.541176-7.529412 4.517647-6.023529 7.529412-21.082353 9.035294-24.094118 4.517647-18.070588 3.011765-28.611765-6.023529-28.611765-12.047059 0-16.564706 15.058824-21.082353 31.62353-1.505882 6.023529-3.011765 12.047059-3.011765 16.564706 3.011765 12.047059 10.541176 12.047059 10.541177 12.047059z m94.870588 189.741176c-1.505882 4.517647-1.505882 7.529412-1.505882 7.529412 1.505882 1.505882 3.011765 3.011765 4.517647 3.011764h4.517647l13.552941-58.729411h-7.529412l-13.552941 48.188235z m24.094118-81.317647l-3.011765 10.541176h7.529412l3.011765-10.541176h-7.529412z' fill='%23034582' p-id='3774'%3E%3C/path%3E%3Cpath d='M967.815529 493.778824c4.517647 0 12.047059-3.011765 15.058824-7.529412 1.505882-1.505882 3.011765-6.023529 4.517647-9.035294 1.505882-4.517647 3.011765-10.541176 3.011765-15.058824 1.505882-3.011765 1.505882-6.023529 1.505882-9.035294 1.505882-12.047059-3.011765-19.576471-10.541176-19.576471-12.047059 0-16.564706 15.058824-21.082353 31.62353-1.505882 6.023529-3.011765 12.047059-3.011765 16.564706 3.011765 12.047059 10.541176 12.047059 10.541176 12.047059z m-203.294117 118.964705l3.011764-10.541176h-48.188235l-3.011765 10.541176h40.658824c6.023529 0 7.529412 1.505882 7.529412 0z' fill='%23107C84' p-id='3775'%3E%3C/path%3E%3Cpath d='M1198.215529 147.425882h-296.658823c-42.164706 0-82.823529 33.129412-93.364706 75.294118l-43.670588 191.247059c3.011765 1.505882 6.023529 4.517647 7.529412 9.035294 3.011765 9.035294 1.505882 19.576471-3.011765 39.152941l-3.011765 10.541177c-4.517647 22.588235-6.023529 27.105882-7.529412 42.164705l-1.505882 1.505883h-16.564706l-9.035294 37.647059c3.011765-3.011765 9.035294-6.023529 12.047059-7.529412 7.529412-3.011765 24.094118-6.023529 24.094117-6.02353h52.705883l-18.070588 60.235295c-3.011765 10.541176-6.023529 16.564706-9.035295 19.57647-1.505882 3.011765-4.517647 6.023529-9.035294 9.035294-4.517647 3.011765-9.035294 4.517647-12.047058 4.517647h-60.235295l-13.552941 58.729412 18.070588-1.505882-7.529411 27.105882h-15.058824l-24.094117 99.388235c-9.035294 42.164706 16.564706 75.294118 57.223529 75.294118h296.658823c42.164706 0 82.823529-33.129412 93.364706-75.294118l138.541177-594.823529c9.035294-42.164706-16.564706-75.294118-57.22353-75.294118z m-212.329411 263.529412c6.023529 3.011765 10.541176 6.023529 13.552941 10.541177v-4.517647l1.505882-1.505883c18.070588-3.011765 22.588235-3.011765 42.164706-6.023529v1.505882c-3.011765 13.552941-7.529412 28.611765-10.541176 42.164706-7.529412 30.117647-9.035294 45.176471-12.047059 60.235294l-1.505883 1.505882h-39.152941l-1.505882-1.505882c0-1.505882 1.505882-4.517647 1.505882-6.023529-6.023529 4.517647-12.047059 9.035294-19.57647 9.035294s-13.552941-1.505882-21.082353-4.517647c-22.588235-9.035294-19.576471-34.635294-16.564706-48.188236 3.011765-13.552941 9.035294-28.611765 19.57647-39.152941 16.564706-13.552941 34.635294-16.564706 43.670589-13.552941z m-204.8 105.411765l28.611764-118.964706 12.047059-54.211765s1.505882-4.517647 1.505883-6.023529c6.023529 0 18.070588 1.505882 51.2 0h12.047058c25.6 0 46.682353 0 58.729412 15.058823 4.517647 6.023529 6.023529 13.552941 6.02353 21.082353 0 6.023529-1.505882 12.047059-1.505883 16.564706-4.517647 19.576471-15.058824 36.141176-28.611765 46.682353-21.082353 16.564706-49.694118 16.564706-73.788235 16.564706h-3.011765l-3.011764 3.011765c0 1.505882-6.023529 24.094118-6.02353 24.094117s-6.023529 31.623529-7.529411 37.647059c-7.529412-1.505882-19.576471-1.505882-46.682353-1.505882z m10.541176 137.035294c-1.505882 4.517647-3.011765 7.529412-6.023529 10.541176-3.011765 3.011765-7.529412 6.023529-18.070589 6.02353h-18.070588v16.564706c0 4.517647 1.505882 4.517647 1.505883 4.517647s1.505882 1.505882 3.011764 1.505882h6.02353l18.070588-1.505882-9.035294 27.105882h-19.576471c-13.552941 0-24.094118 0-28.611764-3.011765-3.011765-1.505882-4.517647-4.517647-3.011765-9.035294l1.505882-64.752941h31.62353v13.552941h7.529411c3.011765 0 4.517647 0 6.02353-1.505882 1.505882-1.505882 1.505882-1.505882 1.505882-3.011765l3.011765-10.541176h25.6l-3.011765 13.552941z m111.435294 64.752941h-34.635294l3.011765-7.529412h-69.270588l7.529411-22.588235h7.529412l36.141177-121.976471 7.529411-24.094117h34.635294l-3.011764 12.047059s9.035294-6.023529 18.070588-9.035294c7.529412-1.505882 43.670588-3.011765 55.717647-3.011765h37.647059v13.552941c0 3.011765 1.505882 3.011765 6.023529 3.011765h6.02353l-6.02353 24.094117h-19.57647c-18.070588 1.505882-24.094118-6.023529-24.094118-15.058823v-13.552941l-3.011765 12.047058h-12.047058l-36.141177 120.470589h9.035294l-7.529412 24.094117h-10.541176l-3.011765 7.529412z m155.105883-106.917647h-37.647059l-6.02353 19.576471h37.647059l-6.023529 19.57647h-40.658824l-7.529412 9.035294h16.564706l4.517647 25.6c0 3.011765 0 4.517647 1.505883 6.02353 1.505882 1.505882 6.023529 1.505882 9.035294 1.505882h4.517647l-7.529412 25.6h-21.082353c-4.517647 0-6.023529-3.011765-9.035294-4.517647-3.011765-1.505882-6.023529-4.517647-6.023529-9.035294l-4.517647-25.6-18.070589 25.6c-6.023529 7.529412-13.552941 13.552941-27.105882 13.552941h-25.6l7.529412-22.588235h10.541176c3.011765 0 6.023529-1.505882 7.529412-1.505883 1.505882-1.505882 3.011765-1.505882 6.023529-4.517647l27.105883-37.647058h-36.141177l6.02353-21.082353h40.658823l6.02353-19.576471h-40.658824l7.529412-22.588235h112.941176l-12.047058 22.588235z m24.094117-70.776471l-1.505882 1.505883-15.058824 25.6c-4.517647 9.035294-13.552941 15.058824-27.105882 15.058823h-22.588235l7.529411-22.588235h4.517648c3.011765 0 4.517647 0 6.023529-1.505882 1.505882 0 1.505882-1.505882 3.011765-3.011765l7.529411-13.552941c12.047059-18.070588 15.058824-25.6 27.105883-45.176471-1.505882-22.588235-3.011765-30.117647-4.517647-43.670588-1.505882-9.035294-3.011765-18.070588-3.011765-27.105882-1.505882-18.070588-1.505882-15.058824-4.517647-27.105883v-1.505882l1.505882-1.505882c18.070588-1.505882 18.070588-3.011765 37.647059-6.02353l1.505882 1.505883 3.011765 49.694117v3.011765c10.541176-22.588235 10.541176-16.564706 22.588235-45.176471v-1.505882l1.505883-1.505882c16.564706-1.505882 19.576471-3.011765 39.152941-6.02353l1.505882 1.505883c-1.505882 0-75.294118 128-85.835294 149.082352z' fill='%23107C84' p-id='3776'%3E%3C/path%3E%3Cpath d='M775.062588 579.614118l4.517647-13.552942h-51.2l-4.517647 21.082353c7.529412-4.517647 15.058824-7.529412 22.588236-7.529411h28.611764z m105.411765-159.62353c10.541176-4.517647 18.070588-15.058824 19.576471-27.105882 3.011765-13.552941-1.505882-22.588235-10.541177-27.105882l-25.6-1.505883h-4.517647V368.790588l-12.047059 52.705883v3.011764h6.02353c9.035294 0 19.576471 0 27.105882-4.517647z m-28.611765 266.541177h28.611765l7.529412-27.105883h-28.611765l-7.529412 27.105883z m36.141177-120.470589l-9.035294 30.117648s10.541176-4.517647 16.564705-6.02353c6.023529-1.505882 15.058824-1.505882 15.058824-1.505882l6.023529-22.588236h-28.611764z m-24.094118 76.8s10.541176-6.023529 16.564706-7.529411c6.023529-1.505882 15.058824-3.011765 15.058823-3.011765l7.529412-22.588235h-28.611764l-10.541177 33.129411z' fill='%23107C84' p-id='3777'%3E%3C/path%3E%3C/svg%3E");
                }
              }
            }
            .way-icon {
              width: 50rpx;
              height: 50rpx;
            }
          }
        }
      }
      .pay-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        z-index: 999;
        background-color: #ffffff;
        padding: 0 25rpx;
        .btn {
          background-color: #4D6FED;
          border-color: #4D6FED;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 700;
          border-radius: 50rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 25rpx 0;
        }
      }
    }
  }
}

.pay-loading {
  .at-modal__container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 30rpx;
    .text {
      margin-left: 15rpx;
      color: #ffffff;
    }
  }
}